@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Charmonman');

/*=============================================
=            Root Element block            =
=============================================*/

:root {
  --link-color: rgb(145, 128, 112);
  --logo-color: rgba(145, 128, 112, 0.6);
  --primary-color: rgb(13, 12, 10);
  --secondary-color: rgba(13, 12, 10, 0.7);
  --primary-font: "Roboto", sans-serif;
  --background-color: rgba(0, 0, 0, 0.7);
}


/*=============================================
=            Basics comment block            =
=============================================*/



*{
	padding:0;
	margin:0;
}
	
a{
	text-decoration: none;
	color:inherit;
}

li{
	list-style: none;
}

.fas{
	cursor: pointer;
	color:var(--link-color);
}

.logo{
	font-family: 'Charmonman', cursive;
	font-size:.8rem;
	color:var(--link-color);
}


/*=====  End of Basics comment block  ======*/


/*=============================================
=            Desktop comment block            =
=============================================*/



header{
	background-color: var(--primary-color);
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
.logo{
	margin-left:1rem;
}
.navbar{
	width:50%;
	height:3rem;
	display:flex;
	order: 3;
}

.hamburger-menu{
	order:2;
}

.nav-list{
	height:100%;
	width: 100%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	margin-right:0.5rem;
}


.nav-item{
	font-size: 2rem;
	color: var(--link-color);
	height: 100%;
	padding:0 0.4rem;
	text-align:center;
	margin-top:0;
	display: flex;
	justify-content: center;
	align-items:center;
	transition: all 0.6s;
}

.nav-item a{
	width:100%;
	height:100%;
}

.nav-item:hover{
	background-color: var(--link-color);
	color: #000;
	height:100%;
}

.hamburger-menu{
	display:none;
}

/*=====  End of Desktop comment block  ======*/



/*=============================================
=            Tablet comment block            =
=============================================*/
@media screen and (max-width:830px){
	.nav-item{
		font-size: 1.5rem;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
	}

	.nav-item a{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

/*=====  End of Tablet comment block  ======*/


/*=============================================
=            Mobile comment block            =
=============================================*/

@media screen and (max-width: 680px){

	.container{
		display:flex;
		flex-direction:column;
	}
	
	header{
		position: relative;
		width:100%;
		height: 3rem;
		background-color:var(--primary-color);
	}
	
	.navbar{
		display:none;
	}
	.hamburger-menu{
		display:flex;
		position: absolute;
		top: 1rem;
		right:1rem;
	}
	
	.nav-list{
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content: space-between;
	}
	
	.nav-item{
		width:100%;
		/* margin:.5rem auto; */
        padding: .5rem;
        border-bottom: 1px solid var(--link-color);
	}
	.nav-item a{
		width:100%;
	}

	.nav-item:hover{
		color:#fff;
		background-color: var(--link-color);
	}

	.fa-times{
		display: none;
	}


	.active{
		display: block !important;
	}

	.inactive{
		display: none !important;
	}

	.active-navbar{
		position: absolute;
		top:3rem;
		flex-direction:column;
		display: flex;
		background-color: var(--secondary-color);
		color: var(--link-color);
		width: 100vw;
		height: auto;
	}

	.content-margin{
		margin-top: 12rem;
	}
	
}

/*=====  End of Mobile comment block  ======*/

